.haier {
  background-color: #030303;

  &__container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__logo {
    display: flex;
    align-content: inherit;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;

    &-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__details {
    position: relative;
    margin: 0 -20px;

    &-figure {
      display: flex;
      align-content: inherit;
      justify-content: center;
      margin: 0 auto;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;

      &-title {
        margin: 0 0 10px;
        font-weight: 700;
        font-size: 26px;
        line-height: 120%;
        text-align: center;
        color: #fff;
      }

      &-description {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        opacity: 0.75;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 0;

    &-link {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 calc(100% / 2 - 10px / 2);
      gap: 5px;
      max-width: calc(100% / 2 - 10px / 2);
      min-height: 120px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;

      &::before {
        content: '';
        position: absolute;
        inset: 1px;
        z-index: 1;
        border-radius: inherit;
        background-color: #4e4e4e;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 5px;
        background: linear-gradient(90deg, #2962f6 0%, #8919f6 100%);
        opacity: 0;
        transition: opacity ease-out 0.2s;
      }

      &:hover::after {
        opacity: 1;
      }

      &_wide {
        flex: 0 0 100%;
        max-width: none;
      }

      &-thumb {
        position: relative;
        z-index: 10;
        display: block;
        flex: 0 0 auto;
        max-width: 100%;
        max-height: 100px;
        height: auto;
      }

      &-text {
        position: relative;
        z-index: 10;
        flex: 0 0 auto;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        transition: color ease-out 0.2s;
      }

      &:hover &-text {
        color: #2962f6;
      }
    }
  }

  &__cards {
    display: block;
  }

  &__card {
    padding: 40px 0;

    &-title {
      margin: 0 0 40px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #fff;
    }

    &-info {
      position: relative;
      display: flex;
      align-items: stretch;
      min-height: 300px;
      margin: 0 -20px 20px;
      padding: 20px;
      box-sizing: border-box;

      &-photo {
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      &-details {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        max-width: 164px;
        width: 100%;

        &-item {
          display: flex;
          align-items: center;
          gap: 10px;
          max-width: 100%;
          width: 100%;

          &-icon {
            flex: 0 0 30px;
            margin: 0;

            &-image {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }

          &-text {
            font-weight: 500;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    &-faq {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0 0 40px;

      &-card {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #4e4e4e;

        &-toggler {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          cursor: pointer;

          &-text {
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            user-select: none;
          }

          &-button {
            position: relative;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            aspect-ratio: 1;
            border: none;
            background-color: rgba($color: #ffffff, $alpha: 0);
            pointer-events: none;
            transition: transform ease-out 0.2s;

            &::before,
            &::after {
              content: '';
              display: block;
              width: 2px;
              height: 28px;
              background-color: #ffffff;
              transition: background-color ease-out 0.2s;
            }

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0) rotate(90deg);
            }
          }
        }

        &.active &-toggler {
          &-button {
            transform: rotate(45deg);

            &::before,
            &::after {
              background-color: #2962f6;
            }
          }
        }

        &-panel {
          max-height: 0px;
          font-weight: 300;
          font-size: 14px;
          color: #fff;
          overflow: hidden;
          transition: max-height ease-out 0.2s;

          &::before,
          &::after {
            content: '';
            display: block;
            height: 10px;
          }
        }
      }
    }

    &-buy {
      &-button {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 17px 34px;
        box-sizing: border-box;
        overflow: hidden;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 4px;
        background-color: rgba($color: #ffffff, $alpha: 0);
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          display: block;
          width: 100%;
          height: 100%;
          transition: opacity ease-out 0.2s;
        }

        &::before {
          z-index: 2;
          background: linear-gradient(238deg, #22b0f3 0%, #7d3cd3 100%);
          opacity: 1;
        }

        &::after {
          z-index: 1;
          background-color: #4238f5;
        }

        &:hover::before {
          opacity: 0;
        }

        &-text {
          position: relative;
          z-index: 10;
          pointer-events: none;
        }
      }
    }
  }
}
